/* AvenirLTStd-Light */
@font-face {
  font-family: 'AvenirLTStd-Light';
  font-style: normal;
  font-weight: 400;
  src: local('AvenirLTStd-Light'), local('AvenirLTStd-Light.otf'), url(https://takashi-22812.github.io/css/AvenirLTStd-Light.otf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* astronova */
@font-face {
  font-family: 'astronova';
  font-style: normal;
  font-weight: 400;
  src: local('astronova'), local('astronova.ttf'), url(https://takashi-22812.github.io/css/astronova.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}


#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 5px;}
    .sidenav a {font-size: 18px;}
}
* {
    box-sizing: border-box;
}
body {
	background-color: #1D053A;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}
	
}

#header {
  border-style: single;
  font-family: "Audrey-Medium";
  font-size: "2em";
  color: white;
}
table, th, td {
    border: 0px solid white;
    border-collapse: collapse;
}

p {
	font-family: "AvenirLTStd-Light", "AvenirLTStd-Light";
	font-size: "12px";
  color: white;
}

.paraHead {
  font-family: "AvenirLTStd-Light";
  font-size: 2em;
  font-weight: bold;
}
.top {
font-family: "astronova";
position: absolute;
right: 0%;
top: -3%; 
width: 100%;
z-index: 0;
text-align: center;
color: #fff;
background-color: #1D053A;
color: #fff;
padding-top: 1%;
padding-bottom: 0%;
font-size: 30px;
letter-spacing: 5px;
}

.middle {
  font-family: "AvenirLTStd-Light";
  position: absolute;
  left: 12%;
  right: 12%;
  top: 45%;
  width: 75%;
  text-align: center;
  color: #fff;
  background-color: #1D053A;
  color: #fff;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 24px;
  letter-spacing: 2%;
}
